<mat-toolbar>
  <button mat-icon-button (click)="toggleSidenav()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Inventary app</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/mercancia" routerLinkActive="active-link">Mercancia</a>
      <a mat-list-item routerLink="/users" routerLinkActive="active-link">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
